{% extends 'homepage/base.html' %}
{% load static %}
{% block head %}
<title>{{ query }} - OC Music Search</title>
{% endblock %}

{% block content %}
        <!-- Masthead-->
        <header class="masthead masthead-search tiny-masthead">
            <div class="container">
                <form id="searchForm" action="{% url 'items-search' %}">
                    <div class="row align-items-stretch mb-5">
                        <div class="form-group col-auto col-sm-5 col-sm-6 col-lg-7 col-xl-8">
                                <!-- Query input-->
                                <input class="form-control" id="query" name="query" type="text" value="{{ query }}" required />
                            </div>
                        <div class="col">
                            <button class="btn btn-primary btn-xl text-uppercase custom-btn" id="submitButton" type="submit">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </header>
        <section class="page-section bg-light">
            {% for type_k, type_v in spotify.items %}
            <div class="container mb-5">
                <div class="text-center">
                    {% if type_k == 'artists' %}
                        <h2 class="section-heading text-uppercase">Artistes :</h2>
                    {% elif type_k == 'albums' %}
                        <h2 class="section-heading text-uppercase">Albums :</h2>
                    {% elif type_k == 'tracks' %}
                        <h2 class="section-heading text-uppercase">Titres :</h2>
                    {% endif %}
                </div>
                <div class="row text-center text-capitalize">
                  {% if type_v %}
                    {% for item in type_v %}
                    <div class="col-md-3 portfolio-item">
                        {% if type_k == 'artists' %}
                            <a class="portfolio-link" href="{% if item.id %}{% url 'artist-details' idx=item.id %}{% endif %}">
                        {% elif type_k == 'tracks' %}
                            <a class="portfolio-link" href="{% if item.id %}{% url 'track-details' idx=item.id %}{% endif %}">
                        {% elif type_k == 'albums' %}
                            <a class="portfolio-link" href="{% if item.id %}{% url 'album-details' idx=item.id %}{% endif %}">
                        {% endif %}                                                      
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas {% if type_k == 'artists' %}fa-user
                                                  {% elif type_k == 'tracks' %}fa-music
                                                  {% elif type_k == 'albums' %}fa-record-vinyl
                                                  {% endif %} fa-3x">
                                    </i>
                                </div>
                            </div>
                            {% if type_k == 'tracks' %}
                                {% if item.album.images.large %}
                                    <img class="cover img-fluid" src="{{ item.album.images.large }}">
                                {% else %}
                                    <img class="cover img-fluid" src="{% static 'assets/img/picture-unavaible-fr.png' %}">
                                {% endif %}
                            {% else %}
                                {% if item.images.large %}
                                    <img class="cover img-fluid" src="{{ item.images.large }}">
                                {% else %}
                                    <img class="cover img-fluid" src="{% static 'assets/img/picture-unavaible-fr.png' %}">
                                {% endif %}
                            {% endif %}
                        </a>
                        {% if type_k == 'artists' %}
                        <a href="{% if item.id %}{% url 'artist-details' idx=item.id %}{% endif %}">
                            <h4 class="my-3">{{ item.name }}</h4>
                        </a>
                        {% else %}
                          <h4 class="my-3">
                            <a href="{% if type_k == 'tracks' %}{% if item.id %}{% url 'track-details' idx=item.id %}{% endif %}{% elif type_k == 'albums' %}{% if item.id %}{% url 'album-details' idx=item.id %}{% endif %}{% endif %}">
                              <i class="fas {% if type_k == 'tracks' %}fa-music{% elif type_k == 'albums' %}fa-record-vinyl{% endif %}"></i> {{ item.name }}
                            </a>
                          </h4>
                          <p>
                            {% for artist in item.artists %}{% if forloop.counter0 > 0 %}, {% endif %}
                              <a href="{% if artist.id %}{% url 'artist-details' idx=artist.id %}{% endif %}">
                                {{ artist.name }}
                              </a>
                            {% endfor %}
                          </p>                     
                        {% endif %}
                    </div>
                    {% endfor %}
                  {% else %}
                    <div>Aucun résultat</div>
                  {% endif %}
                </div>
            </div>
        {% endfor %}
        </section>
{% endblock %}