{% extends 'homepage/base.html' %}
{% load static %}
{% block head %}
<title>{{ spotify.name }} - OC Music Album</title>
<style>
    header.masthead-details {
        height: 45vh;
        padding-top: 10.5rem;
        padding-bottom: 6rem;
        text-align: center;
        color: #fff;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("{% if spotify.album.images.large %}{{spotify.album.images.large}}{% endif %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
}
</style>
{% endblock %}

{% block content %}
        <!-- Masthead-->
        <header class="masthead masthead-details">
            <div class="container">
                <div class="masthead-heading m-0">{{ spotify.name }}</div>
                <div class="masthead-subheading">{% for artist in spotify.artists %}{% if forloop.counter0 > 0 %}, {% endif %}<a class="text-white" href="{% if artist.id %}{% url 'artist-details' idx=artist.id %}">{{ artist.name }}{% endif %}</a>{% endfor %}</div>
            </div>
        </header>
        <section class="page-section bg-light pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item portfolio-item">
                            <a class="portfolio-link" href="{% if spotify.album.id %}{% url 'album-details' idx=spotify.album.id %}{% endif %}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-record-vinyl fa-3x">
                                    </i>
                                </div>
                            </div>
                            <div class="mx-auto" style="width: 300px;">
                              {% if spotify.album.images.large %}
                                <img class="cover img-fluid" src="{{ spotify.album.images.large }}">
                              {% else %}
                                <img class="cover img-fluid" src="{% static 'assets/img/picture-unavaible-fr.png' %}">
                              {% endif %}
                            </div>
                            </a>
                          </li>
                          {% if spotify.duration_str %}
                            <li class="list-group-item">Durée  : {{ spotify.duration_str }} min</li>
                          {% endif %}
                          {% if spotify.track_number %}
                            <li class="list-group-item">Piste  : {{ spotify.track_number }}</li>
                          {% endif %}
                          {% if spotify.album.name and spotify.album.id %}
                            <li class="list-group-item">Album  : <a class="link-dark" href="{% url 'album-details' idx=spotify.album.id %}">{{ spotify.album.name }}</a></li>
                          {% endif %}
                          {% if spotify.album.release_date %}
                            <li class="list-group-item">Sotie  : {{ spotify.album.release_date }}</li>
                          {% endif %}
                       </ul>                  
                    </div>
                    <div class="col-md-8">
                        <div class="text-center"><h3>Artiste :</h3></div>
                        <div class="row text-center">
                    {% for artist in spotify.artists %}
                    <div class="col-md-4 portfolio-item">
                        <a class="portfolio-link" href="{% if artist.id %}{% url 'artist-details' idx=artist.id %}{% endif %}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fas fa-user fa-3x">
                                    </i>
                                </div>
                            </div>
                            {% if artist.images.medium %}
                            <img class="img-fluid" src="{{ artist.images.medium }}">
                            {% elif artist.images.large %}
                                <img class="img-fluid" src="{{ artist.images.large }}">
                            {% else %}
                            <img class="img-fluid" src="{% static 'assets/img/picture-unavaible-fr.png' %}">
                            {% endif %}
                        </a>
                        <p>
                            <a href="{% if artist.id %}{% url 'artist-details' idx=artist.id %}{% endif %}">{{ artist.name }}</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'items/comments.html' %}
{% endblock %}