{% extends 'homepage/base.html' %}
{% load static %}
{% block head %}
<title>Mon compte - OC Music</title>
{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead masthead-account tiny-masthead">
  <div class="container">
    <div class="row mb-5">
      <div class="col">
        <h1 class="mt-5">Bonjour, {{request.user.username}}.</h1>
        <p><a class="text-white" href="{% url 'logout' %}">Déconnexion</a></p>
      </div>
    </div>
  </div>
</header>
<section class="page-section pt-5" id="favorite">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Vos favoris</h2>
    </div>
{% include 'account/items_list.html' %}
  </div>
</section>
{% endblock %}